body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}

header {
    background-color: #3d2826;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

header h1 {
    font-size: 36px;
    margin: 0;
}

header h2 {
    font-size: 24px;
    margin: 0;
}

nav {
    margin-top:20px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 0;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

nav ul li a:hover {
    text-decoration: underline;
}

section {
    padding: 40px 0;
    text-align: center;
}

section h2 {
    font-size: 32px;
}

ul li {
    margin-bottom: 10px;
}

ul li a {
    color: #3d2826;
    text-decoration: none;
    font-size: 20px;
}

ul li a:hover {
    text-decoration: underline;
}

/* Add more styles as needed*/
